@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,400;0,600;1,400;1,600');

$base-font-size:'20px';
$primary:'#ff00ff';
:root {
  --base-font-size: 1rem;
  --font-family: 'Poppins';
  --primary: #29235c;
  --primary-medium: #393181;
  --secondary: #fff;
  --tertiary: #29235c;
  --quaternary: #42CB7F;
  --header_primary: var(--primary);
  --green: #2fab66;

}

.d-header {
  height: initial;
  box-shadow: none;
}

.d-header #site-logo {
  width: 200px;

}

.d-header .login-button, .d-header .sign-up-button {
  padding: 16px 32px;
  border-radius: 0.5rem;
  svg {
    display:none;
  }
}

.d-header .sign-up-button {
  background: var(--green);
}



.d-header>.wrap {
  max-width: none;
  padding: 42px 50px 50px;
}

.headerLink a:hover {
  color: black;
}
// var(--primary)
// var(--secondary)
// var(--tertiary)
// var(--quaternary)
// var(--header_background)
// var(--header_primary)
// var(--highlight)
// var(--danger)
// var(--success)
// var(--love)

