// $base-font-family
$base-font-size:'20px';
// $line-height-large
$primary:'#ff00ff';
:root {
  --base-font-size: 1rem;
  --font-family: 'Poppins, system-ui, sans-serif';
}
// var(--primary)
// var(--secondary)
// var(--tertiary)
// var(--quaternary)
// var(--header_background)
// var(--header_primary)
// var(--highlight)
// var(--danger)
// var(--success)
// var(--love)

