// $base-font-family
$base-font-size:'20px';
// $line-height-large
$primary:'#ff00ff';
// var(--primary)
// var(--secondary)
// var(--tertiary)
// var(--quaternary)
// var(--header_background)
// var(--header_primary)
// var(--highlight)
// var(--danger)
// var(--success)
// var(--love)