@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,400;0,600;1,400;1,600');

// $base-font-family
$base-font-size:'20px';
// $line-height-large
$primary:'#ff00ff';
:root {
  --base-font-size: 1rem;
  --font-family: 'Poppins';
  --primary: #29235c;
  --secondary: #fff;
  --tertiary: #29235c;
}
// var(--primary)
// var(--secondary)
// var(--tertiary)
// var(--quaternary)
// var(--header_background)
// var(--header_primary)
// var(--highlight)
// var(--danger)
// var(--success)
// var(--love)

